*, ::after, ::before {
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}






$grids: (0px, 576px, 768px, 992px);
$i: 1;
$initial: 100%;


.row-grid {
    width: $initial;
    display: grid;



    @each $grid in $grids {
        $gridCols: #{100/$i}#{"%"};
        $gridRows: #{100/$i - 0.5}#{"%"};
        @media (min-width: $grid) {
            grid-template-columns: repeat($i, 1fr);
            grid-auto-rows: repeat($i, 1fr);
        }
        $i: $i + 1;
    }

    $radius: 16px;

    .box {
        * {
            transition: .8s;
        }

        position: relative;
        padding: 1.2em;

        .wrapper-img {
            text-align: center;
            width: 100%;
            height: auto;
            z-index: -1;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: $radius;
            }

        }

        &:hover {
            cursor: pointer;
        }


        @mixin desctext() {

            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover::after {
            content: "Description...";
            @include desctext;
        }


        @mixin desc() {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.11);
            box-shadow: 0px 12px 60px rgba(0, 0, 0, 0.14);
            transition: all 0.4s ease;
            border-radius: $radius;

            @media (max-width: 576px) {
                box-shadow: unset;
            }
        }

        &:hover::before {
            @include desc;
        }


        @media (max-width: 576px) {
            ::after {
                content: "Description...";
                @include desctext;
            }
            .wrapper-img::after, &:hover::after{
                content:"";
            }

        }

        ::before {
            @media (max-width: 576px) {
                @include desc;
            }
        }
    }
}

.scale-high {
    //position: fixed !important;
    height: 100%;
    font-size: 1.4rem;
    @media (min-width: 576px) {
        transform: translate(50%, 50%) scale(2);
        font-size: 0.7em;
        z-index: 99;
        background: $body-bg;
        height: auto;
    }


    &:hover::before, &:hover::after {
        @include dNone;
    }

}


