// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables

@import 'variables';


// Bootstrap only what i need
@import '~bootstrap/scss/functions',
'~bootstrap/scss/variables',
'~bootstrap/scss/mixins',
'~bootstrap/scss/vendor/rfs',
'~bootstrap/scss/root',
'~bootstrap/scss/reboot',
'~bootstrap/scss/nav',
'~bootstrap/scss/navbar';

@mixin dBlock(){
    display:block ;
}
@mixin dNone(){
    display:none;
}
@mixin dInBlock(){
    display:inline-block;
}
@mixin dFlex(){
    display:flex;
}
.d-inline-block{
    @include dInBlock;
}
.d-block{
    @include dBlock;
}
.d-flex{
    @include dFlex;
}
.d-none{
    @include dNone;
}



@import 'grid';
